@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caprasimo&display=swap');

html,
body,
div {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.hero {
    height: 100vh;
    width: 100vw;
    background-image: url('./common.jpg');
    position: fixed;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    display: table;
    z-index: 0;
    opacity: .7;
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.intro {
    /* background-color: #41B3A366; */
    background-image: linear-gradient(to right, #d3cce3, #e9e4f0); 

    /* background-image: linear-gradient(to right, #ffefba, #ffffff); */
    /* background: radial-gradient(ellipse at top, #AFD275, transparent), */
/* radial-gradient(ellipse at bottom, #c2cad0, transparent); */
    border-radius: 10px;
    box-shadow: -1px 1px 19px 0px rgba(97, 95, 95, 0.31);
    max-width: 500px;
    margin: auto 0;
    padding: 30px;
    text-align: center;
    z-index: 5;
}

.lead {
    font-family: 'Caprasimo', sans-serif;
    font-size: 40px;
    margin: 0;
    color: #63405f;
    line-height: 0.8;
}

.generator-form {
    width: 245px;
    margin: 0 auto;
}

#familyName {
    border-radius: 5px;
    border: solid 1px rgb(192, 196, 195);
    /* margin-top: 18px; */
    padding: 10px;
}

.last-name-input {
    margin: 0 auto;
}

label {
    display: block;
    text-align: left;
    margin-left: 5px;
    color: #63405f;
    font-size: 13px;
    font-weight: 600;
}

div#generate {
    border-radius: 4px;
    background-color: #63405f;
    color: #FFF;
    display: inline-block;
    margin-top: 18px;
    padding: 10px;
    text-decoration: none;
    box-shadow: none;
}

input {
    font-size: 20px;
}

#output {
    border: 1px solid rgb(105, 135, 130);
    border-radius: 10px;
    font-family: 'Caprasimo', sans-serif;
    font-size: 50px;
    margin-top: 18px;
    padding: 10px;
    color: #63405f;
    line-height: 0.8;
}

#output p {
    margin: 0;
}

footer {
    background-color: #4e4e4e;
    bottom: 0;
    color: #fff;
    font-size: 10px;
    position: fixed;
    width: 100%;
    opacity: .75;
}

footer p {
    margin: 10px;
}

footer a {
    color: rgb(203, 227, 223);
    text-decoration: none;
}